::selection {
  background: hsla(0, 100%, 0%, 0.8); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: hsla(0, 100%, 0%, 0.8); /* Gecko Browsers */
  color: white;
}

:root {
  line-height: 1.5;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: hsla(0, 0%, 0%, 0.85);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(#fff346, #e5b63b);
  background-attachment: fixed;
}

section {
  padding: 1em 1em 0;
  min-height: 100vh;
  animation: section-fader 100ms ease-in-out;
}

a {
  color: black;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

p a {
  text-underline-offset: 4px;
  text-decoration-color: hsla(0, 0%, 100%, 0.4) !important;
  text-decoration-thickness: 2px !important;
  text-decoration: underline;
  text-decoration-style: wavy;
  transition: text-underline-offset 100ms ease-in-out, text-decoration-color 300ms ease-in-out;
}

p a:hover {
  text-underline-offset: 5px;
  text-decoration-color: hsla(0, 0%, 0%, 0.7) !important;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  transition: transform 100ms ease-in-out;
}

nav a:hover {
  transform: translateY(-2px);
}

nav a.logo {
  font-weight: 600;
  background: linear-gradient(black, #222);
  color: white !important;
  padding-bottom: 0;
  border: 0;
  padding: 0.5em;
  border-radius: 5px;
}

nav a.logo:hover {
  transform: scale(1.025);
}

footer a {
  display: inline-block;
  color: #fff346;
  text-underline-offset: 4px;
  text-decoration-color: hsla(0, 0%, 100%, 0.1) !important;
  text-decoration-thickness: 2px !important;
  text-decoration: underline;
  transition: color 100ms ease-in-out, text-underline-offset 100ms ease-in-out;
}

footer a:visited {
  color: #fff346;
}

footer a:hover {
  color: white;
  text-underline-offset: 5px;
}

pre,
code {
  font-family: "Fira Code", monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

nav > ol {
  display: flex;
  /* align-items: center; */
  list-style: none;
  padding: 0;
  margin: 0;
}

nav > ol > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: black;
}

h1 {
  font-size: 3.5em;
}

section#home h1 {
  font-size: 4em;
  margin: 1.5em 0 0.5em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
}

p {
  max-width: 40em;
}

hr {
  border: 0;
  height: 4px;
  background-color: hsla(0, 0%, 0%, 0.2);
  display: none;

  margin-bottom: 6em;
}

footer {
  background-color: hsla(0, 0%, 10%, 0.95);
  color: hsla(0, 0%, 80%, 0.4);
  padding: 2em 1em;
  font-size: 0.75em;
}

footer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-content {
  display: flex;
  flex-direction: column;
}

#poster-api {
  display: flex;
}

#poster-api h2 {
  margin: 0;
}

.orange {
  background-color: hsl(13, 80%, 50%);
}

.green {
  background-color: hsl(142, 44%, 47%);
}

.blue {
  background-color: hsl(194, 66%, 61%);
}

nav .active {
  font-weight: 600;
  border-bottom-color: hsla(0, 0%, 0%, 0.2);
}

.small {
  font-size: 0.9em;
}

.italic {
  font-style: italic;
}

.tagline {
  font-size: 2.5em;
  color: hsla(0, 0%, 0%, 0.5);
}

.hr-thin {
  height: 2px;
  margin-bottom: 1em;
  /* display: block; */
}

.reel {
  display: block;
  width: 300px;
}

.huge {
  display: block;
  font-size: 1em;
}

@keyframes section-fader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
