body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 20%);
  color: #ffffff;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div > ol {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
}

.orange {
  background-color: hsl(13, 80%, 50%);
}

.green {
  background-color: hsl(142, 44%, 47%);
}

.blue {
  background-color: hsl(194, 66%, 61%);
}
