@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: gold;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div > ol {
  display: flex;
  /* align-items: center; */
  list-style: none;
  padding: 0;
  margin: 0;
}

nav > div:last-child > ol {
  flex-direction: row-reverse;
}

nav > div > ol > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 1em;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
  color: inherit;
  border-bottom: 2px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

nav a:visited,
nav a:active {
  color: inherit;
}

section {
  padding: 0 1em;
}

hr {
  border: 0;
  height: 3px;
  background-color: hsla(0, 0%, 0%, 0.2);
  display: none;
}

.orange {
  background-color: hsl(13, 80%, 50%);
}

.green {
  background-color: hsl(142, 44%, 47%);
}

.blue {
  background-color: hsl(194, 66%, 61%);
}

nav .active {
  font-weight: bold;
  border-bottom-color: hsla(0, 0%, 0%, 0.2);
}

.small {
  font-size: 0.75em;
}
